In [1]:
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt 
import numpy as np 
import os 
import pandas as pd #

In [2]:
dft = pd.read_csv('tournaments.csv')

In [3]:
dft.head()

,id,season,year,name,full_name,url,status,category,prize,country,city
0,753,1982-1983,1982,UK Championship,1982 UK Championship,https://cuetracker.net/tournaments/uk-champion...,Professional,Non-ranking,47000.0,England,Preston
1,1140,1982-1983,1982,World Amateur Championship - Men,1982 World Amateur Championship - Men,https://cuetracker.net/tournaments/world-amate...,Amateur,World Event,0.0,Canada,Calgary
2,762,1982-1983,1982,Professional Players Tournament,1982 Professional Players Tournament,https://cuetracker.net/tournaments/professiona...,Professional,Ranking,31500.0,England,Birmingham
3,2586,1982-1983,1982,Pontins Autumn Open,1982 Pontins Autumn Open,https://cuetracker.net/tournaments/pontins-aut...,Pro-am,Event,0.0,Wales,Prestatyn
4,754,1982-1983,1982,International Open,1982 International Open,https://cuetracker.net/tournaments/internation...,Professional,Ranking,73500.0,England,Derby

In [4]:
dft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2720 entries, 0 to 2719
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         2720 non-null   int64
 1   season     2705 non-null   object
 2   year       2720 non-null   int64
 3   name       2720 non-null   object
 4   full_name  2720 non-null   object
 5   url        2720 non-null   object
 6   status     2720 non-null   object
 7   category   2720 non-null   object
 8   prize      2719 non-null   float64
 9   country    2690 non-null   object
 10  city       2646 non-null   object
dtypes: float64(1), int64(2), object(8)
memory usage: 233.9+ KB

In [5]:
dft[dft.isnull().any(axis=1)]

,id,season,year,name,full_name,url,status,category,prize,country,city
6,2444,1982-1983,1982,Australian Amateur Championship,1982 Australian Amateur Championship,https://cuetracker.net/tournaments/australian-...,Amateur,National Championship,0.0,Australia,NaN
7,2443,1982-1983,1982,Scottish Open Championship,1982 Scottish Open Championship,https://cuetracker.net/tournaments/scottish-op...,Pro-am,National Championship,0.0,Scotland,NaN
9,2549,1981-1982,1982,All-Ireland Amateur Championship,1982 All-Ireland Amateur Championship,https://cuetracker.net/tournaments/all-ireland...,Amateur,National Championship,0.0,Ireland,NaN
21,2548,1981-1982,1982,Indian Amateur Championship,1982 Indian Amateur Championship,https://cuetracker.net/tournaments/indian-amat...,Amateur,National Championship,0.0,India,NaN
105,756,1983-1984,1984,Professional Snooker League,1984 Professional Snooker League,https://cuetracker.net/tournaments/professiona...,Professional,League,0.0,NaN,Various
...,...,...,...,...,...,...,...,...,...,...,...
2566,2710,2017-2018,2018,Northern Ireland Amateur Championship,2018 Northern Ireland Amateur Championship,https://cuetracker.net/tournaments/northern-ir...,Amateur,National Championship,0.0,Northern Ireland,NaN
2567,2701,NaN,2018,Welsh Amateur Championship,2018 Welsh Amateur Championship,https://cuetracker.net/tournaments/welsh-amate...,Amateur,National Championship,0.0,Wales,NaN
2568,3220,NaN,2019,Albanian Amateur Championship,2019 Albanian Amateur Championship,https://cuetracker.net/tournaments/albanian-am...,Amateur,National Championship,0.0,Albania,Unknown
2599,3279,NaN,2019,Russian Amateur Championship,2019 Russian Amateur Championship,https://cuetracker.net/tournaments/russian-ama...,Amateur,National Championship,0.0,Russia,Unknown
2717,3362,NaN,2020,3 Kings Open,2020 3 Kings Open,https://cuetracker.net/tournaments/3-kings-ope...,Pro-am,Event,0.0,Austria,Rankweil

In [6]:
dft['season'].unique()

array(['1982-1983', '1981-1982', '1983-1984', '1984-1985', '1985-1986',
       '1986-1987', '1987-1988', '1988-1989', '1989-1990', '1990-1991',
       '1991-1992', '1992-1993', '1993-1994', '1994-1995', '1995-1996',
       '1996-1997', '1997-1998', '1998-1999', '1999-2000', '2000-2001',
       '2001-2002', '2002-2003', '2003-2004', '2004-2005', '2005-2006',
       '2006-2007', '2007-2008', '2008-2009', '2009-2010', nan,
       '2010-2011', '2011-2012', '2012-2013', '2013-2014', '2014-2015',
       '2015-2016', '2016-2017', '2017-2018', '2018-2019', '2019-2020'],
      dtype=object)

In [7]:
dft['category'].unique()

array(['Non-ranking', 'World Event', 'Ranking', 'Event', 'Invitational',
       'National Championship', 'Continental Event', 'League',
       'Tour Qualifier', 'Minor Ranking', 'National Ranking', '6-reds'],
      dtype=object)

In [8]:
dft['status'].unique()

array(['Professional', 'Amateur', 'Pro-am'], dtype=object)

In [9]:
dfp = pd.read_csv('players_r.csv')

In [10]:
dfp.head()

,url,id,first_name,last_name,full_name,country
0,https://cuetracker.net/players/mohammed-a-belg...,mohammed-a-belgaizi,Mohammed,A Belgaizi,Mohammed A Belgaizi,United Arab Emirates
1,https://cuetracker.net/players/ishaq-a-khaleg,ishaq-a-khaleg,Ishaq,A Khaleg,Ishaq A Khaleg,Bahrain
2,https://cuetracker.net/players/ahmed-a-asere,ahmed-a-asere,Ahmed,A. Asere,Ahmed A. Asere,Saudi Arabia
3,https://cuetracker.net/players/magnus-aagaard,magnus-aagaard,Magnus,Aagaard,Magnus Aagaard,Denmark
4,https://cuetracker.net/players/asbjorn-aalberg,asbjorn-aalberg,Asbjorn,Aalberg,Asbjorn Aalberg,Norway

In [11]:
dfp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13640 entries, 0 to 13639
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   url         13640 non-null  object
 1   id          13640 non-null  object
 2   first_name  13640 non-null  object
 3   last_name   13640 non-null  object
 4   full_name   13640 non-null  object
 5   country     13640 non-null  object
dtypes: object(6)
memory usage: 639.5+ KB

In [12]:
dfm = pd.read_csv('matches_r.csv')

In [13]:
dfm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193530 entries, 0 to 193529
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tournament_id  193530 non-null  int64
 1   match_id       193530 non-null  int64
 2   date           54819 non-null   object
 3   stage          193530 non-null  object
 4   best_of        193530 non-null  int64
 5   player1_name   193530 non-null  object
 6   player1_url    193530 non-null  object
 7   player2_name   193530 non-null  object
 8   player2_url    193530 non-null  object
 9   score1         193530 non-null  int64
 10  score2         193530 non-null  int64
 11  frames_scores  70252 non-null   object
 12  is_walkover    193530 non-null  bool
dtypes: bool(1), int64(5), object(7)
memory usage: 17.9+ MB

In [14]:
dfm.head()

,tournament_id,match_id,date,stage,best_of,player1_name,player1_url,player2_name,player2_url,score1,score2,frames_scores,is_walkover
0,753,82716,NaN,Final,31,Terry Griffiths,https://cuetracker.net/players/terry-griffiths,Alex Higgins,https://cuetracker.net/players/alex-higgins,16,15,20-58; 31-90; 56-52; 26-87(67); 0-114(67); 73(...,False
1,753,82718,NaN,Semi-final,17,Terry Griffiths,https://cuetracker.net/players/terry-griffiths,Tony Meo,https://cuetracker.net/players/tony-meo,9,7,71-8; 50-71(55); 31-62; 69-30; 73-61; 34-77(52...,False
2,753,82717,NaN,Semi-final,17,Alex Higgins,https://cuetracker.net/players/alex-higgins,Ray Reardon,https://cuetracker.net/players/ray-reardon,9,6,28-71; 67(50)-29; 74(74)-0; 53-79; 60-54; 112(...,False
3,753,82721,NaN,Quarter-final,17,Terry Griffiths,https://cuetracker.net/players/terry-griffiths,Steve Davis,https://cuetracker.net/players/steve-davis,9,6,"1-103; 117(60,57)-6; 5-105(60); 57-60; 79-0; 2...",False
4,753,82719,NaN,Quarter-final,17,Alex Higgins,https://cuetracker.net/players/alex-higgins,John Spencer,https://cuetracker.net/players/john-spencer,9,5,69(54)-31; 103-21; 72-48; 33-82; 40-56; 71-51;...,False

In [15]:
dfm[dfm['is_walkover']==True].count()

tournament_id    4596
match_id         4596
date               79
stage            4596
best_of          4596
player1_name     4596
player1_url      4596
player2_name     4596
player2_url      4596
score1           4596
score2           4596
frames_scores       1
is_walkover      4596
dtype: int64

##### merging tournament and matches dataset

In [16]:
df_merged = dft.merge(dfm, left_on='id', right_on='tournament_id')

In [17]:
df_merged.count()

id               193530
season           193306
year             193530
name             193530
full_name        193530
url              193530
status           193530
category         193530
prize            193530
country          192657
city             192442
tournament_id    193530
match_id         193530
date              54819
stage            193530
best_of          193530
player1_name     193530
player1_url      193530
player2_name     193530
player2_url      193530
score1           193530
score2           193530
frames_scores     70252
is_walkover      193530
dtype: int64

In [18]:
df_merged.head()

,id,season,year,name,full_name,url,status,category,prize,country,...,stage,best_of,player1_name,player1_url,player2_name,player2_url,score1,score2,frames_scores,is_walkover
0,753,1982-1983,1982,UK Championship,1982 UK Championship,https://cuetracker.net/tournaments/uk-champion...,Professional,Non-ranking,47000.0,England,...,Final,31,Terry Griffiths,https://cuetracker.net/players/terry-griffiths,Alex Higgins,https://cuetracker.net/players/alex-higgins,16,15,20-58; 31-90; 56-52; 26-87(67); 0-114(67); 73(...,False
1,753,1982-1983,1982,UK Championship,1982 UK Championship,https://cuetracker.net/tournaments/uk-champion...,Professional,Non-ranking,47000.0,England,...,Semi-final,17,Terry Griffiths,https://cuetracker.net/players/terry-griffiths,Tony Meo,https://cuetracker.net/players/tony-meo,9,7,71-8; 50-71(55); 31-62; 69-30; 73-61; 34-77(52...,False
2,753,1982-1983,1982,UK Championship,1982 UK Championship,https://cuetracker.net/tournaments/uk-champion...,Professional,Non-ranking,47000.0,England,...,Semi-final,17,Alex Higgins,https://cuetracker.net/players/alex-higgins,Ray Reardon,https://cuetracker.net/players/ray-reardon,9,6,28-71; 67(50)-29; 74(74)-0; 53-79; 60-54; 112(...,False
3,753,1982-1983,1982,UK Championship,1982 UK Championship,https://cuetracker.net/tournaments/uk-champion...,Professional,Non-ranking,47000.0,England,...,Quarter-final,17,Terry Griffiths,https://cuetracker.net/players/terry-griffiths,Steve Davis,https://cuetracker.net/players/steve-davis,9,6,"1-103; 117(60,57)-6; 5-105(60); 57-60; 79-0; 2...",False
4,753,1982-1983,1982,UK Championship,1982 UK Championship,https://cuetracker.net/tournaments/uk-champion...,Professional,Non-ranking,47000.0,England,...,Quarter-final,17,Alex Higgins,https://cuetracker.net/players/alex-higgins,John Spencer,https://cuetracker.net/players/john-spencer,9,5,69(54)-31; 103-21; 72-48; 33-82; 40-56; 71-51;...,False

##### remove walkover and keep only Professional games

In [19]:
df_final=df_merged[(df_merged['is_walkover']==False) & (df_merged['status']=='Professional')]

In [20]:
df_final=df_final[['id','year','full_name','url','date','stage','best_of','player1_name','player2_name','score1','score2']]

In [21]:
df_2015=df_final[df_final['year']==2015]
df_2015[df_2015['date'].isna()]['id'].unique()

array([], dtype=int64)

In [22]:
df_2016=df_final[df_final['year']==2016]
df_2016[df_2016['date'].isna()]['id'].unique()

array([2196])

In [23]:
df_2016[df_2016['id']==2196]['stage'].unique()

array(['Final', 'Semi-final', 'Quarter-final', 'Last 16', 'Last 32',
       'Wildcard', 'Last 48', 'Last 64', 'Last 96', 'Last 128'],
      dtype=object)

In [24]:
df_2016.loc[(df_2016['id']==2196) & (df_2016['stage']=='Last 128'), 'date']='2016-09-16'
df_2016.loc[(df_2016['id']==2196) & (df_2016['stage']=='Last 96'), 'date']='2016-09-17'
df_2016.loc[(df_2016['id']==2196) & (df_2016['stage']=='Last 64'), 'date']='2016-09-18'
df_2016.loc[(df_2016['id']==2196) & (df_2016['stage']=='Last 48'), 'date']='2016-09-19'
df_2016.loc[(df_2016['id']==2196) & (df_2016['stage']=='Wildcard'), 'date']='2016-09-20'
df_2016.loc[(df_2016['id']==2196) & (df_2016['stage']=='Last 32'), 'date']='2016-09-21'
df_2016.loc[(df_2016['id']==2196) & (df_2016['stage']=='Last 16'), 'date']='2016-09-22'
df_2016.loc[(df_2016['id']==2196) & (df_2016['stage']=='Quarter-final'), 'date']='2016-09-23'
df_2016[df_2016['id']==2196]

,id,year,full_name,url,date,stage,best_of,player1_name,player2_name,score1,score2
151300,2196,2016,2016 Shanghai Masters,https://cuetracker.net/tournaments/shanghai-ma...,2016-09-25,Final,19,Ding Junhui,Mark Selby,10,6
151301,2196,2016,2016 Shanghai Masters,https://cuetracker.net/tournaments/shanghai-ma...,2016-09-24,Semi-final,11,Ding Junhui,Stephen Maguire,6,3
151302,2196,2016,2016 Shanghai Masters,https://cuetracker.net/tournaments/shanghai-ma...,2016-09-24,Semi-final,11,Mark Selby,Stuart Bingham,6,5
151303,2196,2016,2016 Shanghai Masters,https://cuetracker.net/tournaments/shanghai-ma...,2016-09-23,Quarter-final,9,Stuart Bingham,Ali Carter,5,1
151304,2196,2016,2016 Shanghai Masters,https://cuetracker.net/tournaments/shanghai-ma...,2016-09-23,Quarter-final,9,Ding Junhui,Michael Holt,5,3
...,...,...,...,...,...,...,...,...,...,...,...
151431,2196,2016,2016 Shanghai Masters,https://cuetracker.net/tournaments/shanghai-ma...,2016-09-16,Last 128,9,Daniel Wells,Jimmy White,5,2
151432,2196,2016,2016 Shanghai Masters,https://cuetracker.net/tournaments/shanghai-ma...,2016-09-16,Last 128,9,Zhao Xintong,Liam Highfield,5,1
151433,2196,2016,2016 Shanghai Masters,https://cuetracker.net/tournaments/shanghai-ma...,2016-09-16,Last 128,9,Mei Xiwen,Sanderson Lam,5,2
151434,2196,2016,2016 Shanghai Masters,https://cuetracker.net/tournaments/shanghai-ma...,2016-09-16,Last 128,9,Zhang Yong,Fraser Patrick,5,2
151435,2196,2016,2016 Shanghai Masters,https://cuetracker.net/tournaments/shanghai-ma...,2016-09-16,Last 128,9,Chen Zhe,Michael Wild,5,2

In [25]:
df_2017=df_final[df_final['year']==2017]
df_2017[df_2017['date'].isna()]['url'].unique()

array(['https://cuetracker.net/tournaments/6-reds-world-championship/2017/2617'],
      dtype=object)

In [26]:
df_2017=df_2017[df_2017['date'].notna()]

In [27]:
df_2017[df_2017['date'].isna()]['url'].unique()

array([], dtype=object)

In [28]:
df_2018=df_final[df_final['year']==2018]
df_2018=df_2018[df_2018['date'].notna()]
df_2018[df_2018['date'].isna()]['url'].unique()

array([], dtype=object)

In [29]:
df_2019=df_final[df_final['year']==2019]
df_2019=df_2019[df_2019['date'].notna()]
df_2019[df_2019['date'].isna()]['url'].unique()

array([], dtype=object)

#### work with 2015 data

In [32]:
df_2015.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3546 entries, 139632 to 148730
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            3546 non-null   int64
 1   year          3546 non-null   int64
 2   full_name     3546 non-null   object
 3   url           3546 non-null   object
 4   date          3546 non-null   object
 5   stage         3546 non-null   object
 6   best_of       3546 non-null   int64
 7   player1_name  3546 non-null   object
 8   player2_name  3546 non-null   object
 9   score1        3546 non-null   int64
 10  score2        3546 non-null   int64
dtypes: int64(5), object(6)
memory usage: 332.4+ KB

In [33]:
df_2015['winner'] = np.where(df_2015['score1'] > df_2015['score2'], df_2015['player1_name'], df_2015['player2_name'])

/var/folders/77/y6gtmx8d687_4xqlf5hz3z7r0000gn/T/ipykernel_42203/4294824081.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2015['winner'] = np.where(df_2015['score1'] > df_2015['score2'], df_2015['player1_name'], df_2015['player2_name'])

In [34]:
df_2015['date'] = df_2015['date'].str.split(' - ').str[0] #some dates were like 2016-09-25-09-26, removing the second date

/var/folders/77/y6gtmx8d687_4xqlf5hz3z7r0000gn/T/ipykernel_42203/3956019781.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2015['date'] = df_2015['date'].str.split(' - ').str[0] #some dates were like 2016-09-25-09-26, removing the second date

In [35]:
df_2015['date'] = pd.to_datetime(df_2015['date'], errors='coerce') #converting to pandas date-time format

/var/folders/77/y6gtmx8d687_4xqlf5hz3z7r0000gn/T/ipykernel_42203/4088539856.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2015['date'] = pd.to_datetime(df_2015['date'], errors='coerce') #converting to pandas date-time format

In [36]:
df_2015 = df_2015.sort_values(by='date')

In [37]:
df_2015.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3546 entries, 148153 to 139632
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            3546 non-null   int64
 1   year          3546 non-null   int64
 2   full_name     3546 non-null   object
 3   url           3546 non-null   object
 4   date          3546 non-null   datetime64[ns]
 5   stage         3546 non-null   object
 6   best_of       3546 non-null   int64
 7   player1_name  3546 non-null   object
 8   player2_name  3546 non-null   object
 9   score1        3546 non-null   int64
 10  score2        3546 non-null   int64
 11  winner        3546 non-null   object
dtypes: datetime64[ns](1), int64(5), object(6)
memory usage: 360.1+ KB

In [38]:
ranking_history = pd.DataFrame(columns=['player_name', 'rating', 'date']) #updated ranking after each match stored in ranking_history dataframe

In [39]:

df_try=df_2015

In [40]:
df_try.info()
np.size(df_try['player1_name'].unique())

<class 'pandas.core.frame.DataFrame'>
Index: 3546 entries, 148153 to 139632
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            3546 non-null   int64
 1   year          3546 non-null   int64
 2   full_name     3546 non-null   object
 3   url           3546 non-null   object
 4   date          3546 non-null   datetime64[ns]
 5   stage         3546 non-null   object
 6   best_of       3546 non-null   int64
 7   player1_name  3546 non-null   object
 8   player2_name  3546 non-null   object
 9   score1        3546 non-null   int64
 10  score2        3546 non-null   int64
 11  winner        3546 non-null   object
dtypes: datetime64[ns](1), int64(5), object(6)
memory usage: 360.1+ KB

415

In [41]:
def get_k_factor(games_played, rating):
    if games_played < 30:
        return 40
    elif rating < 2400:
        return 20
    else:
        return 10

In [42]:
#ranking_history[ranking_history['player_name']=='John Astley'].shape[0]
ranking_history.shape[0]

0

In [43]:
for index, row in df_try.iterrows():
    player1 = row['player1_name']
    player2 = row['player2_name']
    match_date = row['date']

    # Filter past history
    filtered = ranking_history[ranking_history['player_name'] == player1]
    filtered2 = ranking_history[ranking_history['player_name'] == player2]

    # Initialize default ratings
    base_rating = 1000
    current_rating1 = base_rating
    current_rating2 = base_rating

    games1=1
    games2=1

    
    if not filtered.empty:
        max_date = filtered['date'].max() #latest date
        latest_entry = filtered[filtered['date'] == max_date].iloc[-1] #last entry of latest date
        current_rating1 = pd.to_numeric(latest_entry['rating'], errors='coerce')
        games1=filtered.shape[0]+1

    if not filtered2.empty:
        max_date = filtered2['date'].max()
        latest_entry2 = filtered2[filtered2['date'] == max_date].iloc[-1]
        current_rating2 = pd.to_numeric(latest_entry2['rating'], errors='coerce')
        games2=filtered2.shape[0]+1

    # Update ratings
    Ra=current_rating1
    Rb=current_rating2
    Ea = 1 / (1 + 10 ** ((Rb - Ra)/400))
    Eb=1-Ea
    Ka=get_k_factor(games1,Ra)
    Kb=get_k_factor(games2,Rb)
    
    new_rating1 = round(current_rating1 + Ka*(1-Ea))
    new_rating2 = round(current_rating2 + Kb*(0-Eb))

    # Append new ratings to ranking history
    new_row1 = pd.DataFrame({
        'player_name': [player1],
        'rating': [new_rating1],
        'date': [match_date]
    })
    new_row2 = pd.DataFrame({
        'player_name': [player2],
        'rating': [new_rating2],
        'date': [match_date]
    })

    ranking_history = pd.concat([ranking_history, new_row1, new_row2], ignore_index=True)

/var/folders/77/y6gtmx8d687_4xqlf5hz3z7r0000gn/T/ipykernel_42203/1112101993.py:54: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  ranking_history = pd.concat([ranking_history, new_row1, new_row2], ignore_index=True)

In [44]:
ranking_history.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7092 entries, 0 to 7091
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   player_name  7092 non-null   object
 1   rating       7092 non-null   object
 2   date         7092 non-null   datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 166.3+ KB

In [45]:
cutoff_date = pd.to_datetime('2015-12-31')  # or any target date
df_filtered = ranking_history[ranking_history['date'] <= cutoff_date]
df_last = df_filtered.drop_duplicates(subset='player_name', keep='last')
df_last.sort_values(by='rating', ascending=False).head(100)

         player_name rating       date
6748  Neil Robertson   1273 2015-12-06
7075      Mark Selby   1238 2015-12-13
6721    Shaun Murphy   1233 2015-12-02
6877   Mark Williams   1230 2015-12-11
7039    John Higgins   1229 2015-12-12
...              ...    ...        ...
296     Tony Chappel   1038 2014-12-21
6089       Alex Borg   1038 2015-11-04
7033    Jamie Clarke   1035 2015-12-12
1964    John Parrott   1034 2015-03-03
6942     Gary Wilson   1034 2015-12-11

[100 rows x 3 columns]