In [1]:
import pandas as pd
import numpy as np

In [2]:
matches = pd.read_csv('/Users/tliu/Desktop/Erdos Project/Data/matches.csv')

In [3]:
matches.head()

        player1         player2  score1  score2  best_of  tournament_id date
0  Colin Roscoe      Jackie Rea       9       6       17            753  NaN
1  Tommy Murphy   Clive Everton       9       4       17            753  NaN
2    Vic Harris     Marcus Owen       9       4       17            753  NaN
3    Bob Harris  Graham Cripsey       9       6       17            753  NaN
4  Geoff Foulds     Matt Gibson       9       3       17            753  NaN

In [4]:
#Get elo-rating for players based on match history from 1982 to 2025
from elo_v1 import get_elo
rating = get_elo(matches)

In [5]:
rating.sort_values(ascending=False).head(10)

Judd Trump       1380.947218
Zhao Xintong     1376.238529
Stephen Lee      1374.198772
Mark Selby       1363.438202
John Higgins     1321.879571
Kyren Wilson     1314.882301
Yan Bingtao      1295.685899
Mark Williams    1286.389807
Pankaj Advani    1282.784596
Barry Hawkins    1268.104070
dtype: float64

In [6]:
rating.sort_values(ascending=False).tail(10)

Reanne Evans       -267.654938
Bert Demarco       -269.627545
Fred Davis         -364.864290
Mike Darrington    -367.290838
Anthony Bridge     -379.762933
Dennis Hughes      -380.319922
Dessie Sheehan     -451.667445
Bernard Bennett    -523.852257
Clive Everton      -541.067990
Jack Fitzmaurice   -673.168311
dtype: float64

In [7]:
from elo_v1 import predict_prob, predict

In [8]:
E1 = predict_prob('Judd Trump', 'Colin Roscoe', rating=rating)
E1

np.float64(0.9191846242940965)

In [9]:
predict('Mark Williams', 'Judd Trump', rating, 11)

Our prediction: winner is Judd Trump. Score is 5-6.

(np.int64(5), 6, 'Judd Trump')