In this notebook, we clean the column 'player1_name' and 'player2_name' of our data set mathces.csv.

In [1]:
import pandas as pd
import numpy as np

In [2]:
#import matches_v1.csv
matches = pd.read_csv('/Users/tliu/Desktop/Erdos Project/Data/Kaggle Data/matches (1982-2020) v1.csv')
matches.head()

,index,tournament_id,match_id,date,stage,best_of,player1_name,player1_url,player2_name,player2_url,score1,score2,frames_scores,is_walkover,status,total,year,sorted_id
0,0,753,82766,NaN,Round 1,17,Colin Roscoe,https://cuetracker.net/players/colin-roscoe,Jackie Rea,https://cuetracker.net/players/jackie-rea,9,6,34-63; 40-56; 33-68; 70(58)-47; 64-23; 94(62)-...,False,Professional,15,1982,1
1,1,753,82770,NaN,Round 1,17,Tommy Murphy,https://cuetracker.net/players/tommy-murphy,Clive Everton,https://cuetracker.net/players/clive-everton,9,4,69(59)-24; 77-34; 77-64; 58-52; 11-68; 37-62; ...,False,Professional,13,1982,1
2,2,753,82771,NaN,Round 1,17,Vic Harris,https://cuetracker.net/players/vic-harris,Marcus Owen,https://cuetracker.net/players/marcus-owen,9,4,36-40; 71(69)-43; 63-18; 14-87; 65-37; 35-92; ...,False,Professional,13,1982,1
3,3,753,82765,NaN,Round 1,17,Bob Harris,https://cuetracker.net/players/bob-harris,Graham Cripsey,https://cuetracker.net/players/graham-cripsey,9,6,78-61; 76-44; 65(59)-72; 29-90; 66-57; 88(65)-...,False,Professional,15,1982,1
4,4,753,82767,NaN,Round 1,17,Geoff Foulds,https://cuetracker.net/players/geoff-foulds,Matt Gibson,https://cuetracker.net/players/matt-gibson,9,3,30-77; 58-11; 50-76; 58-14; 42-72; 59-36; 53-1...,False,Professional,12,1982,1

In [3]:
matches['player1_name'].sort_values()

75413       A Bulajiang
4472             A Chan
95157    Aaron Busuttil
73241    Aaron Busuttil
95216    Aaron Busuttil
              ...
75362       Zhu Yinghui
79154       Zhu Yinghui
77884       Zhu Yinghui
77451        Zou Junhai
77903        Zou Junhai
Name: player1_name, Length: 100241, dtype: object

Some names include numbers and country names.

In [4]:
#import country list from players_r.csv file
players_r = pd.read_csv('Raw Data/players_r.csv')
country_list = players_r['country'].str.lower()

In [5]:
country_list[:5]

0    united arab emirates
1                 bahrain
2            saudi arabia
3                 denmark
4                  norway
Name: country, dtype: object

In [6]:
'mark williams' in country_list

False

In [7]:
#This is a function that cleans the columns of player names by 
#1. removing '-'
#2. removing numbers
#3. removing country names
def clean_name(s):
    arr = s.split()
    if len(arr) == 0:
        return s
    if arr[0].isdigit():
        arr = arr[1:]
    while arr[0] == '-':
        arr = arr[1:]
    if arr[0].lower() in country_list:
        arr = arr[1:]
    if len(arr)>1:
        combo2 = arr[0].lower() +' ' + arr[1].lower()
        if combo2.lower() in country_list:
            arr = arr[2:]
    if len(arr)>2:
        combo3 = arr[0].lower()+' ' + arr[1].lower() + ' ' +arr[2].lower() 
        if combo3.lower() in country_list:
            arr = arr[3:]
        
    out = arr[0]
    for i in range(len(arr)-1):
        out += (' '+arr[i+1])
    return out

In [8]:
matches['player1_name'] = matches['player1_name'].apply(clean_name)
matches['player2_name'] = matches['player2_name'].apply(clean_name)

In [9]:
#Drop unnecessary columns
matches.drop(['index', 'sorted_id'], axis = 1, inplace=True)

In [10]:
matches.to_csv('matches (1982-2020) v2.csv')