In [1]:
import pandas as pd
import numpy as np

In [2]:
matches = pd.read_csv('matches_v2.csv')

In [3]:
matches.head()

,Unnamed: 0,tournament_id,match_id,date,stage,best_of,player1_name,player1_url,player2_name,player2_url,score1,score2,frames_scores,is_walkover,status,total,year
0,0,753,82766,NaN,Round 1,17,Colin Roscoe,https://cuetracker.net/players/colin-roscoe,Jackie Rea,https://cuetracker.net/players/jackie-rea,9,6,34-63; 40-56; 33-68; 70(58)-47; 64-23; 94(62)-...,False,Professional,15,1982
1,1,753,82770,NaN,Round 1,17,Tommy Murphy,https://cuetracker.net/players/tommy-murphy,Clive Everton,https://cuetracker.net/players/clive-everton,9,4,69(59)-24; 77-34; 77-64; 58-52; 11-68; 37-62; ...,False,Professional,13,1982
2,2,753,82771,NaN,Round 1,17,Vic Harris,https://cuetracker.net/players/vic-harris,Marcus Owen,https://cuetracker.net/players/marcus-owen,9,4,36-40; 71(69)-43; 63-18; 14-87; 65-37; 35-92; ...,False,Professional,13,1982
3,3,753,82765,NaN,Round 1,17,Bob Harris,https://cuetracker.net/players/bob-harris,Graham Cripsey,https://cuetracker.net/players/graham-cripsey,9,6,78-61; 76-44; 65(59)-72; 29-90; 66-57; 88(65)-...,False,Professional,15,1982
4,4,753,82767,NaN,Round 1,17,Geoff Foulds,https://cuetracker.net/players/geoff-foulds,Matt Gibson,https://cuetracker.net/players/matt-gibson,9,3,30-77; 58-11; 50-76; 58-14; 42-72; 59-36; 53-1...,False,Professional,12,1982

In [4]:
#We only keep the columns ['player1_name', 'player2_name', 'score1', 'score2', 'best_of', 'year'] in this notebook.
matches = matches[['player1_name', 'player2_name', 'score1', 'score2', 'best_of', 'year']]

In [5]:
#rename the columns
matches = matches.rename(columns={'player1_name': 'player1', 'player2_name': 'player2'})

In [6]:
matches.head()

        player1         player2  score1  score2  best_of  year
0  Colin Roscoe      Jackie Rea       9       6       17  1982
1  Tommy Murphy   Clive Everton       9       4       17  1982
2    Vic Harris     Marcus Owen       9       4       17  1982
3    Bob Harris  Graham Cripsey       9       6       17  1982
4  Geoff Foulds     Matt Gibson       9       3       17  1982

In [7]:
#Get elo-rating for players based on match history from 1982 to 2020
from elo import get_elo
rating = get_elo(matches)

In [8]:
rating.sort_values(ascending=False).head(30)

Wendy Jans                1687.905794
Judd Trump                1680.120016
Ronnie O'Sullivan         1671.863167
Pankaj Advani             1663.093758
Neil Robertson            1651.981756
Darren Morgan             1619.026861
Kristjan Helgason         1573.111287
Mark Selby                1561.634948
John Higgins              1547.666839
Kelly Fisher              1547.528209
Barry Hawkins             1545.055360
Nutcharat Wongharuthai    1541.998885
Stuart Bingham            1516.735390
Stephen Lee               1513.439617
Rodney Goggins            1507.312522
Roy Stolk                 1505.529029
Omar Alkojah              1503.938193
Kyren Wilson              1499.555336
Mark Allen                1496.406637
Stefan Kasper             1489.616982
Ng On Yee                 1479.543667
Kacper Filipiak           1479.101056
Vincent Muldoon           1474.482930
David Gilbert             1473.756321
Floyd Ziegler             1470.493516
Brendan O'Donoghue        1466.672197
Michael Schnabel          1464.839147
Graeme Dott               1456.813640
Moh Keen Ho               1453.726310
Sergei Isayenko           1450.332333
dtype: float64